@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #111;
  height: 100%;
  width: 100%;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

@keyframes cameraFlash {
  0% {
    opacity: 0.85;
  }
  100% {
    opacity: 0;
  }
}
